<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaiser app</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <aside>
        <h3>UI/UX V1.0.0</h3>
        <img src="/static/icons/icon1.png" alt="icon1">
        <img src="/static/icons/icon2.png" alt="icon2">
        <img src="/static/icons/icon3.png" alt="icon3">
        <img src="/static/icons/icon4.png" alt="icon4">
        <img src="/static/icons/icon5.png" alt="icon5">
        <img src="/static/icons/icon6.png" alt="icon6">
        <img src="/static/icons/icon7.png" alt="icon7">
    </aside>
    <main>
        <video id="video" autoplay></video>
    </main>
    <footer>
        <img src="/static/icons/logo.png" alt="logo">
        <div id="camera-info">
            <span id="resolution">Resolución: Cargando...</span><br>
            <span id="fps">FPS: Cargando...</span>
        </div>
        <img src="/static/gifs/gif.gif" alt="gif">
    </footer>
    <script src="/static/js/camera.js"></script>
</body>
</html>